$base-font: 'Roboto Condensed', Helvetica, Arial, sans-serif;

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column;
  font-family: $base-font;
  // background-image: radial-gradient(circle at 49% 73%, #a9256c, #d23107);
  // background-image: linear-gradient(170deg, #cddc39, #ff5722);
  background-image: radial-gradient(circle at 64% 88%, #abfb19, #2c9172);
}

#root, .App {
  height: 100%;
}

.description {
  margin: 0 auto;
  text-align: center;
  padding: 0 40px;

  h1 {
    color: white;
    text-decoration: underline;
  }
  
  small {
    text-align: center;
    color: white;
  }
}

.row {
  display: flex;
  flex-flow: row;
}

.column {
  display: flex;
  flex-flow: column;
}

article {
  flex: 1;
  background-size: cover;
  background-position: center;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.align-center {
  align-items: center;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

// flipper
.flip-container {
  width: 100vw;
  text-align: center;
  margin: 0 auto;
  perspective: 800;
  -webkit-perspective: 800;

  &.flip-me .flipper {
    transform: rotateY(180deg);
  }
}

.flipper {
  font-size: 25vmin;
  height: 1em;
  transition: 0.8s cubic-bezier(1, -0.5, 0.2, 1.5);
  transform-style: preserve-3d;
  position: relative;
  .front,
  .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    height: 1em;
    left: 50%;
    transform: translate(-50%, 0%);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
  }
  .front {
    z-index: 2;
    color: #838789;
    transform: translate(-50%, 0%) rotateY(0deg)
  }
  .back {
    transform: translate(-50%, 0%) rotateY(180deg);
    width: 1em
  }
}

.answers {
  width: 100vw;
  text-align: center;
  margin: 0 auto;
  font-size: 8vmax;
}